<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/PlusJakartaSans-VariableFont_wght.ttf</string>
		<string>Resources/Fonts/Manrope-VariableFont_wght.ttf</string>
	</array>
	<key>ProxyBaseURL</key>
	<string>https://masal-amca-proxy.masal-amca-proxy.workers.dev</string>
	<key>ProxyAuthToken</key>
	<string>d8f038d5b21a872197e2b8f8c0780dacc651981e11ef6c68b15cef13ed8a268d</string>
	<key>ElevenLabsVoiceID</key>
	<string>oPC5I9GKjMReiaM29gjY</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
